.menuContainer{
    width:28em;
}

.styledLinkContainer{
    padding: 1em 0;
}

.styledLink{
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: .9em;    
}

.submenuAccordion .styledLink{
    font-weight: normal;
    color: #999;
    text-transform: capitalize;
}

.menuContainer--menu-mobile-footer{
    width: auto;
}

.styledLinkContent--menu-mobile-footer{
    text-align: center;
    display: block;
    font-weight: 100;
    font-size: 12px;
}

.menuItem--mobile-menu{
    background: #f7eb14;
    color: #fff;
    border-radius: 5px;
    margin: 2px 0px;
}

.menuContainer--mobile-menu{
    width: auto;
}

.styledLink--mobile-menu{
    color: #58595b;
}

.menuContainerNav--brand-class{
    width: 85px;
    border-bottom: 1px solid #005f9f;
}

.menuContainer--brand-class{
    width: 100%;
}

.menuContainer--brand-class .menuItem{
    width: 100%;
}

.menuContainer--brand-class .menuItem .styledLinkContainer{
    margin: 0px auto;
    display: inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.menuContainer--brand-class .styledLink{
    font-weight: 600;
    font-size: 15px;
    font-family: muli;
    color: #0060a3;
    text-transform: Capitalize;
}

.submenuWrapper--brands-submenu{
    width: 100vw;
    background: #f4f4f4;
    left: 0px;
    position: fixed;
}

.submenuContainer--brands-submenu .menuContainer{
    display: flex;
    flex-flow: row wrap;
}

.menuContainer--brand-class:hover{
    background: #f4f4f4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menuContainerNav--brand-class{
    width: 85px;
    border-bottom: 1px solid #005f9f;
}

.submenuContainer--brands-submenu .menuContainer .menuItem{
    width: 25%;
}

.submenu--brands-submenu{
    min-width: 60%;
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
}

.menuContainer--brand-class .submenu--brands-submenu .styledLinkContainer{
    margin: 0px auto;
    display: inline-flex;
    width: 100%;
    text-align: left;
    justify-content: left;
}

.submenu--brands-submenu .menuContainerNav{
    width: 63%;
}

.submenu--brands-submenu .menuContainer{
    width: 100%;
}

