.buttonLink :global(.vtex-button){
    max-width: 30px;
}

.label{
    color: #09609f;
}


@media only screen and (min-width: 1000px){
    /*
    .label:after{
        content:"▾";
        display:inline-block;
        padding: 0 .5rem;
        width:20px;
        height:10px;
        color: #ff6600;
    }
    */
    .container :global(.vtex-button){
        background: #09609f;
    }

    .profileIcon--login-desktop{
        color: #fff;
    }

    .label{
        display: none;
    }
    .container :global(.vtex-button__label){
        padding: 0px 8px 0px 20px !important;
    }
}