.footerLayout{
  background: #101010;  
  margin: 4em 0 0;
}

.acceptedPaymentMethodContainer{
  justify-content: center;
}

.footerLayout{
  background: #ffffff;
}

.footerLayout{
  margin: 0px;
}

.footerLayout{
  border-top: 5px solid #F7EB14;
  margin-top: 15px;
  box-shadow: 0px 7px 15px #000;
}

@media only screen and (min-width: 40em){
  .acceptedPaymentMethodContainer{
    justify-content: left !important;
  }

  .footerLayout{
    border-top: 0px;
    margin-top: 0px;
    box-shadow: none;
  }
}