.paginationDotsContainer{
    bottom: -20px;
    padding: 13px;
}

.slide{
    padding: 0px 15px;
}

@media only screen and (min-width: 800px){
    .sliderLayoutContainer--summary-main{
        padding: 0px 100px;
    }
}

