.footerLayout{
  background: #101010;  
  margin: 4em 0 0;
}

.acceptedPaymentMethodContainer{
  justify-content: center;
}

.footerLayout{
  background: #e6e5e5;
}

@media only screen and (min-width: 40em){
  .acceptedPaymentMethodContainer{
    justify-content: left !important;
  }
}