.headerStickyRow{
    border-bottom:0;
}

.headerRowBackground{
    border-bottom: 1px solid #eee;
}

.headerRowBackground--header-lineOne{
    background:#f4f4f4;
}

.headerRowContainer--content-searchBar{
    justify-content: center;
}

.headerRowContentContainer--category-menu-background,
.headerRowContainer--category-menu-background,
.headerRowBackground--category-menu-background {
    background-color: #09609f;
    border: none;
}

.headerRowContentContainer--header-lineOne{
    background: #f4f4f4;
    padding: 0px 35px;
    height: 30px;
    border-bottom: 1px solid #09609f;
}

.headerRowContentContainer--category-menu-background{
    box-shadow: 1px 3px 13px #0000006b;
}

.headerRowContentContainer--contact-mobile{
    background: #f4f4f4;
    padding: 0px 35px;
    height: 30px;
}

