.label{display:none;}

.container :global(.vtex-button){
    font-size: 0px;
    background: #f7eb14;
    margin: 0px 25px;
    color: #58595b;
}

.itemContainer :global(.vtex-product-summary-2-x-imageNormal){
    max-height: 100px !important;
}
/*
.container{
    background:url(https://brasiltatica.vteximg.com.br/assets/vtex.file-manager-graphql/images/shoppingCart-icon___1341df25d75b8b6de682920edc4aad93.png) no-repeat center scroll transparent;
}

.badge{
    top: -1.5rem;
    right: -2rem;    
}
*/