.container{justify-content: left;}
.itemContainer{border-left: 1px solid #374e6d;height:4rem;}
.itemContainer:first-child{border-left:0;}
/* .itemContainer a{font-weight:bold;font-size:.9em;color:#000;padding:1.8em 0;margin: 0 .5em} */
.firstLevelLink{font-weight: normal;font-size: .9em;color:#fff;word-wrap: none;white-space: normal;}
.secondLevelLink{word-wrap: none;white-space: normal;}
.itemContainer .link{color:#fff}

.container {
  background-color: #09609f;
}

.itemContainer {
  color: #ffffff;
}

.secondLevelLink{
  max-width: 190px;
}

@media only screen and (min-width: 40em){
    .container{padding-left:11em;}
    /* Hover */
    .itemContainer .itemContainer{
      z-index: 9;
      background: #70b1ea;
      border: 0px;
      height:auto;
      padding:.5em 0;
    }
    .itemContainer:first-child .itemContainer{
      min-height: 500px;
    }
}
@media only screen and (min-width: 80em){
      .container{padding-left: 1em;}
}
    